page-novica-detail {

  h1{
    color: #900;
  }

  p{
    line-height: 1.8em;
    text-align: justify;
  }

  img{
    box-shadow: 0 0 10px #000;
  }

  .datum{
    color: #999;
    margin-bottom: 0;
  }
}
