page-novica-detail {

  h1{
    color: #900;
  }

  p{
    line-height: 1.8em;
    text-align: justify;
  }

  img{
    box-shadow: 0 0 10px #000;
  }

  .datum{
    color: #999;
    margin-bottom: 0;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    box-shadow: 0 0 10px #aaa;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
