<ion-header>
  <ion-navbar>
    <ion-title>{{novica.naslov}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  
  <img [src]="novica.slika" alt="Slika"> 
  <div padding>
    <h1>{{novica.naslov}}</h1>
    
    <ion-grid>
      <ion-row>
        <ion-col width-50 class="datum">{{novica.datum_objave}}</ion-col>
        <ion-col width-50 text-right><ion-badge color="secondary">{{novica.rubrika}}</ion-badge></ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="showPlayer">
      <ion-card-content text-center>
        <!-- {{trackProgress}} => {{trackDuration}} ({{trackStatus}}) -->

        <ion-item>
          <ion-range [(ngModel)]="trackProgress" min="0" max="{{trackDuration}}" (ionChange)="seek()">
            <button ion-button (click)="togglePlay()" range-left style="margin-right: 30px;">
              <ion-icon name="play" *ngIf="!isPlaying"></ion-icon>
              <ion-icon name="pause" *ngIf="isPlaying"></ion-icon>
            </button>
          </ion-range>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div [innerHTML]="novica.vsebina" ></div>

    <div class="videoWrapper" *ngIf="showVideo">
      <iframe allowfullscreen frameborder="0" height="100%" width="100%" [src]="novica.video_id | safe:'resourceUrl'">
      </iframe>
    </div>

  </div>
</ion-content>
